:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--ig-primary-background);
  overflow: hidden auto;
}

#root {
  width: 100%;
  height: 100dvh;
}

.ant-layout {
  height: 100dvh;
  background: var(--ig-primary-background);
}

.ant-btn-variant-link {
  color: var(--ig-primary-button);
  font-size: var(--system-12-font-size);
}

.ant-btn-variant-link:not(:disabled):not(.ant-btn-disabled):hover {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.ant-dropdown .ant-dropdown-menu {
  background: var(--ig-separator);
}

.ant-drawer .ant-drawer-mask {
  background: none;
}

.ant-drawer-content-wrapper {
  margin-left: 74px;
}

.ant-drawer-content {
  background: var(--ig-primary-background) !important;
  border: 1px solid var(--ig-separator);
  border-left: none;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-avatar {
  background: linear-gradient(
    90deg,
    rgb(217 217 217 / 14%) 25%,
    rgb(153 152 152 / 15%) 37%,
    rgb(95 95 95 / 34%) 63%
  );
  background-size: 400% 100%;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-input {
  background: linear-gradient(
    90deg,
    rgb(217 217 217 / 14%) 25%,
    rgb(153 152 152 / 15%) 37%,
    rgb(95 95 95 / 34%) 63%
  );
  background-size: 400% 100%;
  border-radius: 6px;
  height: 18px;
}

.ant-select-dropdown {
  background-color: var(--ig-separator) !important;
  padding: 8px 16px !important;
}

.ant-select-item:hover {
  background-color: var(--ig-hover-overlay) !important;
}
